body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-box {
    border: 5px solid #131313;
    width: 20%;
    height: 300px;
    border-radius: 20px;
    margin-top: 5em;
}

button {
    margin-top: 1em;
    padding:  1em 2em;
    font-size: 1.5em;
    background-color: #1b4785;
    color: #fff;
    border-radius: 50px;
    border: none;
}