* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Trispace", sans-serif;
    background-color: #1c2333;
    width: 100%;
}

.top-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 2em;
    gap: 1em;
}


#color-box {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 40px;
    height: 40px;
    appearance: none;
    background-color: transparent;
    border: none;
}

#color-box::-webkit-color-swatch, #color-box::-webkit-color-swatch-wrapper {
    border: 1px solid #314960;
    border-radius: 50px;
    padding: 0;
}
  
#schemes {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    text-align: center;
}

#schemes, button {
    font-family: "Trispace", sans-serif;
    font-weight: 100;
    padding: 0.5em;
    border: 1px solid #314960;
    color: #ffffff;
    background-color: #1c2333;
    font-size: 1em;
    width: 100%;
    border-radius: 50px;
    transition: 0.2s all ease-in-out;
}

#schemes:hover, button:hover {
    transition: 0.2s all ease-in-out;
    background-color: #314960;
}

.display-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.color-scheme-display {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 2em;
    width: 100%;
}

.color-container {
    color: #ffffff;
    font-weight: 100;
    width: 100%;
    min-width: 0;
}

.color{
    width: 100%;
    height: 50vh;
    margin: 0;
    padding: 0;
}

.color-text {
    font-size: 0.5em;
    padding-top: 30px;
    text-align: center;
}

#color-one {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: #000000;
}

#color-two {
    background-color: #1A1919;
}

#color-three {
    background-color: #343232;
}

#color-four {
    background-color: #4F4A4A;
}

#color-five {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: #6A6262;
}
 
@media (min-width: 425px) {

    #schemes, button {
        font-size: 1em;
        padding: 0.8em;
    }

    #schemes {
        width: 70%;
    }

    .color-text {
        font-size: 0.8em;
    }
}

@media (min-width: 576px){

    .top-section {
        padding: 1em 2em;
        gap: 1em;
    }

    #schemes, button {
        font-size: 1.5em;
    }

    #color-box {
        width: 80px;
        height: 80px;
    }

    .color-scheme-display {
        padding: 2em;
    }

    .color-text {
        font-size: 1em;
    }
}

@media (min-width: 768px){

    .top-section {
        gap: 1.5em;
    }

    #schemes, button {
        font-size: 2em;
    }

    #schemes {
        width: 70%
    }

    button {
        width: 90%;
    }

    #color-box {
        width: 80px;
        height: 80px;
    }

    .color-scheme-display {
        padding: 2em;
    }

    .color-text {
        font-size: 1.25em;
    }
}

@media (min-width: 992px) {

    .top-section {
        padding: 2em 4em;
        gap: 1em;
    }

    #schemes, button {
        font-size: 1.5em;
        padding: 1em;
    }

    #schemes {
        width: 40%;
    }

    button {
        width: 40%;
    }
}

@media (min-width: 1200px) {

    .top-section {
        padding: 2em 4em;
        gap: 1.5em;
    }

    button, #schemes {
        font-size: 1.75em;
    }

    #schemes {
        width: 40%;
    }

    button {
        width: 40%;
    }
    
    .color-scheme-display{
        padding: 2em 5em;
    }

    .color-text {
        font-size: 2em;
    }
}

@media (min-width: 1600px) {

    .top-section {
        padding: 4em;
        gap: 1.5em;
    }

    button, #schemes {
        font-size: 2em;
        padding: 1.125em;
        border-radius: 80px;
    }
}